<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List || Welcome</title>
    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/c2a32e4f30.js" crossorigin="anonymous"></script>
    {{!-- Materialize CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{{body}}}
</body>
{{!-- JQUERY --}}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
{{!-- Materialize JS --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready({

    })
</script>

</html>